<div class="footer-container">
  <footer class="wrapper">
    <p>
      <h4>Partner</h4>
      <a href="https://www.grusp.org/" target="_black">
        <img style="max-width: 150px;" src="{{ "/assets/images/grusp-corsivo.png" | relative_url }}" alt="Grusp" title="Grusp Logo">
      </a>
    </p>
    <p class="privacy-policy-p">
      <small id="privacy-policy">
        <h6>(*) Privacy Policy Eventi</h6>
        I dati personali raccolti attraverso la piattaforma Eventbrite secondo le sue policy privacy (<a href="https://www.eventbrite.com/support/articles/en_US/Troubleshooting/eventbrite-privacy-policy?lg=en_US" target="_blank">
          leggi qui &rarr;
        </a>) e secondo i suoi termini e condizioni (<a href="https://www.eventbrite.com/support/articles/en_US/Troubleshooting/eventbrite-privacy-policy?lg=en_US" target="_blank">
          leggi qui &rarr;
        </a>) verranno da noi trattati per:

        <ol>
          <li>adempire gli obblighi contrattuali legati alla gestione dell'evento.  Pertanto, i dati verranno trattati per tutta la durata del rapporto contrattuale ed anche successivamente, per l’espletamento di quelli che potrebbero essere gli obblighi di legge.</li>
        </ol>

        I dati personali non verranno da noi "diffusi" o "comunicati" a terzi o utilizzate per altre finalità commerciali.
        Per conoscere il Titolare del Trattamento e i diritti dell' interessato si rinvia a link di policy privacy eventbrite
      </small>
    </p>

  </footer>
</div>