<section class="partner-principal-section">
  <h2 class="section-heading">Partner principale</h2>

  <div class="partner-logo-container">
    <a href="https://wavelop.com/?utm_source=marcausergroup&utm_medium=website&utm_campaign=partners" target="_blank" class="partner-logo-link-single">
      <img src="{{ "/assets/images/partner-wavelop.svg" | relative_url }}" alt="Wavelop" class="partner-logo-single">
    </a>
  </div>

  <div class="section-footer">
    <a href="{{ "partners/" | relative_url }}" class="link-with-arrow">Scopri tutti i partner →</a>
  </div>
</section>
